/* scss/layout/_footer.scss */
@use '../abstracts/variables';
@use '../abstracts/mixins';

footer {
  background-color: variables.$color-primario;
  color: white;
  text-align: left;
  padding: variables.$espaciado-md;

  p {
    font-size: 0.9rem;
    margin: 0;
  }
  
  h5 {
    color: white ;
  }

  a {
    color: variables.$color-acento;

    &:hover {
      text-decoration: underline;
    }
  }
}

