/* scss/layout/_grid.scss */
@use '../abstracts/variables';
@use '../abstracts/mixins';

// Contenedor general con padding horizontal
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: variables.$espaciado-sm;
  padding-right: variables.$espaciado-sm;
}

// Grilla flexible para mobile, grid para desktop
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$espaciado-sm;

  @include mixins.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

// Columnas simples
.col-2 {
  flex: 0 0 50%;
}

.col-3 {
  flex: 0 0 33.33%;
}

.col-4 {
  flex: 0 0 25%;
}

// Resetea el ancho completo para mobile
@include mixins.mobile {
  .col-2,
  .col-3,
  .col-4 {
    flex: 0 0 100%;
  }
}
