/* scss/components/_buttons.scss */
@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
  display: inline-block;
  padding: variables.$espaciado-xs variables.$espaciado-md;
  background-color: variables.$color-primario;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$color-acento;
    color: variables.$color-texto;
  }

  &--secundario {
    background-color: variables.$color-secundario;
    color: variables.$color-primario;
    border: 1px solid variables.$color-primario;

    &:hover {
      background-color: variables.$color-primario;
      color: white;
    }
  }

  &--full {
    width: 100%;
    text-align: center;
  }
}
