@use '../abstracts/variables';

/* scss/base/_base.scss */
body {
    line-height: 1.6;
    font-size: variables.$texto-size;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: variables.$fuente-principal;
    font-weight: bold;
    color: variables.$color-primario;
    line-height: 1.2;
  }

  h1 {
    font-family: variables.$fuente-principal;
    font-weight: bold;
    color: variables.$color-secundario;
    line-height: 1.2;
  }
  
  p {
    margin-bottom: variables.$espaciado-sm;
  }
  
  ul, ol {
    padding-left: variables.$espaciado-md;
    margin-bottom: variables.$espaciado-sm;
  }
  
  button {
    font-family: inherit;
    border: none;
    cursor: pointer;
  }
  body {
    padding-top: 130px; // o la altura exacta del navbar (ajústalo si es necesario)
  }
     